:root {
  --rt-color-primary: #5753FF;
  --rt-color-gray: #F7F7F7;
  --rt-color-white: #FFF;
  --rt-color-dark: #222;
  --rt-color-success: #8dc572;
  --rt-color-error: #be6464;
  --rt-color-warning: #f0ad4e;
  --rt-color-info: #5753FF;
  --rt-opacity: 0.9;
}

.core-styles-module_tooltip__3vRRp {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  will-change: opacity, visibility;
}

.core-styles-module_fixed__pcSol {
  position: fixed;
}

.core-styles-module_arrow__cvMwQ {
  position: absolute;
  background: inherit;
}

.core-styles-module_noArrow__xock6 {
  display: none;
}

.core-styles-module_clickable__ZuTTB {
  pointer-events: auto;
}

.core-styles-module_show__Nt9eE {
  visibility: visible;
  opacity: var(--rt-opacity);
}

/** end - core styles **/

.styles-module_tooltip__mnnfp {
  padding: 8px 8px;
  border-radius: 13px;
  font-size: 70%;
  max-width: 10rem;
  z-index: 999;
}

.styles-module_arrow__K0L3T {
  width: 8px;
  height: 8px;
}

[class*="react-tooltip__place-top"] > .styles-module_arrow__K0L3T {
  transform: rotate(45deg);
}

[class*="react-tooltip__place-right"] > .styles-module_arrow__K0L3T {
  transform: rotate(135deg);
}

[class*="react-tooltip__place-bottom"] > .styles-module_arrow__K0L3T {
  transform: rotate(225deg);
}

[class*="react-tooltip__place-left"] > .styles-module_arrow__K0L3T {
  transform: rotate(315deg);
}

/** Types variant **/
.styles-module_dark__xNqje {
  background: var(--rt-color-dark);
  color: var(--rt-color-white);
}

.styles-module_light__Z6W-X {
  background-color: var(--rt-color-gray);
  color: var(--rt-color-primary);
}

.styles-module_success__A2AKt {
  background-color: var(--rt-color-success);
  color: var(--rt-color-white);
}

.styles-module_warning__SCK0X {
  background-color: var(--rt-color-warning);
  color: var(--rt-color-white);
}

.styles-module_error__JvumD {
  background-color: var(--rt-color-gray);
  color: var(--rt-color-error);
}

.styles-module_info__BWdHW {
  background-color: var(--rt-color-info);
  color: var(--rt-color-white);
}
