@tailwind base;
@tailwind components;
@tailwind utilities;


button:focus,
input:focus,
textarea:focus {
  outline: none;
}

/* Removes outer buttton in Input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}